name: Ruff Lint

on: [ push, pull_request ]

jobs:
  lint:
    runs-on: [ self-hosted, linux, x64 ]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install Ruff
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: Run Ruff
        run: ruff check .
