name: Unit Tests

on: [ push, pull_request ]

jobs:
  unit-tests:
    runs-on: [ self-hosted, linux, x64 ]
    strategy:
      matrix:
        python-version: [ 3.9, 3.11, 3.12, 3.13 ]  # skip 3.10 bcs issue with it, don't know how fix
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Show Python version from matrix
        run: echo "${{ matrix.python-version }}"
      - name: Install uv
        run: pip install uv
      - name: Install dependencies
        run: uv sync --dev
      - name: Run unit tests
        run: PYTHONPATH=$PWD uv run pytest tests/test_unit -svl --log-cli-level INFO --tb=short --setup-show

